# Dependencies
node_modules
/.pnp
.pnp.js
jspm_packages/

# Testing
/coverage
*.lcov
.nyc_output

# Next.js
/.next/
/out/
.next
out

# Production
/build
dist

# Misc
.DS_Store
*.pem
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env
.env.*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode-test

# Cache
.cache
.parcel-cache
